<div class= "container">

  <div class="page-header">
    <h1> <%= @artist.name %> <small> <%=  @artist.genre%> </small> </h1>
    <h5> <%= @artist.bio %> </h5>
    <button type="button" class="btn btn-default btn-xs">
      <%= link_to 'Discard', artist_path(@artist.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </button>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">All Songs</div>
      <ul class="list-group">
      <% @artist.songs.each do |song| %>
        <li class="list-group-item ">
          <p><%= song.title %><p>
          <p><%= song.year_of_release %><p>
          <button type="button" class="btn btn-default btn-xs">
            <%= link_to 'Delete', [song.artist, song], method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
        </li>
      <% end %>
      </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Add Song</div>
      <ul class="list-group">
        <li class="list-group-item ">
          <%= render 'songs/new_song_form' %>
        </li>
      </ul>
  </div>


  <div class="row">
    <div class="thumbnail" >
      <%= image_tag @artist.remote_image_url%>
    </div>
  </div>


</div>
