<div class= "container">
<h1> <%= @artist.name %> </h1>
<%= link_to 'Delete this Artist', artist_path(@artist.id), method: :delete, data: { confirm: 'Are you sure?' } %>





<div class="panel panel-default">
  <div class="panel-heading">All Songs</div>

  <ul class="list-group">
    <% @artist.songs.each do |song| %>
    <li class="list-group-item ">
      <p><%= song.title %><p>
      <p><%= song.year_of_release %><p>
      <%= link_to 'Delete', [song.artist, song], method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
      <% end %>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Add Song</div>

  <!-- List group -->
  <ul class="list-group">

    <li class="list-group-item ">
        <%= render 'songs/new_song_form' %>


    </li>

  </ul>
</div>







  <div class="row">
           <div class="thumbnail" >
             <%= image_tag @artist.remote_image_url%>
          </div>
   </div>
  </div>

</div>
