<%= form_for [@artist, @artist.songs.build] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :year_of_release %><br>
    <%= f.number_field :year_of_release %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
