<tr class="song" data-id="<%= song.id %>">
  <td>
    <label class="title" for="song-<%= song.id %>"><%= song.title %></label>
  </td>

  <td>
    <label class="year" for="song-<%= song.id %>"><%= song.year_of_release %></label>
  </td>
  <td>
    <button type="button"  id="song-<%= song.id %>">
        <%= link_to 'Delete', [song.artist, song], method: :delete, data: { confirm: 'Are you sure?' } %>
    </button>
  </td>
</tr>
